$h-100: 50px;
$w-200: 200px;
$colorBut: white;
$colorNav: rgb(4, 99, 16);
$backBut: rgb(28, 7, 219);
$backNav: rgb(1, 247, 255);
$backheader: rgb(128, 0, 6);
$butFont: Arial, Helvetica, sans-serif;
$spaceGen: 20px;